<div class="login-container">
<div class="rounded10">
	<form class="white" ng-submit="login(user)">
		<div class="row">
			<div class="col-md-3 padding4">
				<input type="text" id="username" placeholder="Username" ng-model="user.username" required/>
			</div>
			<div class="col-md-3 padding4">
				<input type="text" id="password" placeholder="password" ng-model="user.password" required/>
			</div>
			<div class="col-md-4 padding4">
				<button class="btn button">Login</button>
			</div>
		</div>
	</form>
</div>
</div>